input[type=password] {
    display: block;
    padding: 5px;
    border: 2px solid #F1B720;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}
input[type=password]:hover {
    border-radius: 8px;
	background-color : #AAF30D;
}
input[type=password]:focus {
    outline: none;
    border-radius: 18px;
    border-color: #040404;
	background-color : #AAF30D;
}	
input[type=text] {
    display: block;
    padding: 5px;
    border: 2px solid #F1B720;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}
input[type=text]:hover {
    border-radius: 8px;
	background-color : #AAF30D;
}

input[type=text]:focus {
    outline: none;
    border-radius: 18px;
    border-color: #040404;
	background-color : #AAF30D;
}
select{
    display: block;
    padding: 5px;
    border: 2px solid #F1B720;
    border-radius: 5px;
    color: #333;
    transition: all 0.3s ease-out;
}
select:hover {
    border-radius: 8px;
	background-color : #AAF30D;
}
select:focus {
    outline: none;
    
    border-color: #040404;
	background-color : #AAF30D;
}
button {
    display: block;
    padding: 5px;
    border: 2px solid #F1B720;
    border-radius: 5px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
}
button:hover {
    border-radius: 8px;
	border-color: #040404;
	background-color : #AAF30D;	
}